<h3>Sono app.component</h3>

<input id="eventbinding" form="text" (input)="scrive($event)"  placeholder="eventbinding"><br>
<input form="text" [(ngModel)]="entire" placeholder="twowaydatabinding">
<br>
<p>
	Last Keystroke Pressed = {{lastPressed}} <br>
	Entire word = {{entire}}
</p>
<br>
<button class="btn btn-primary" [disabled]="!allowNewServer" (click)="onCreateServer()">Aggiungi server</button>

<p>
	2&times;2={{2*2}} <br>
	<span [ngStyle]="{color:colorWait()}">
		<span *ngIf="serverCreateStatus!==''; else altrimenti">
			{{serverCreateStatus}}
		</span>

		
		<ng-template #altrimenti > <span *ngIf="entire===''; else giallo">
				Inizia a scrivere per aggingere un server!
		</span> </ng-template>

		<ng-template #giallo>
				Premi <strong>Aggiungi server</strong> quando hai finito!
		</ng-template>
	</span>
</p>



<miocomponente *ngFor="let server of servers"></miocomponente>
<p *ngFor="let server of servers; let indice = index ">{{indice}}|{{server}}</p>

<p appBasicHighlight>
	Test basic highlight
</p>

<!-- <ng-template strutturale [mostra]="true" >
	<p>Direttiva Strutturale</p>
</ng-template> -->

<!-- <ng-template strutturale [strutturale]="true" >
	<p>Direttiva Strutturale</p>
</ng-template>  -->

<p *strutturale="true">
	Direttiva Strutturale
</p>

<input type="text" [(ngModel)]="valore" id="inpValore" name="inpValore">
<div [ngSwitch]="valore">
	<p *ngSwitchCase="10">valore=10</p>
	<p *ngSwitchCase="100">valore=100</p>
	<p *ngSwitchCase="1000">valore=1000</p>
	<p *ngSwitchDefault>Non valido</p>
</div>

<app-button-log></app-button-log>
<hr>
<div>
	<h1>Test delle pipe:</h1>
	<p>{{title | titlecase}}</p>
	<p>{{title | titlecase}}</p>
	<p>data di oggi: {{dataOggi | date:'yyyy/MM/dd, HH:mm':'+0002'}} </p>
	<p>Soldi: {{soldi |currency:"EUR"}} </p>
	<p>Decimal: {{decimale | number:'3.2-3' }} </p>
	<p>percentuale: {{1/soldi | percent }} </p>
	<p><strong>RACCONTO:</strong> {{testoLungo | uppercase | slice:10:25}}</p>
	<p><strong>RACCONTO con testolungo:</strong> {{testoLungo | testolungo:15:10}}</p>
	<p><strong>RACCONTO puntato:</strong> {{testoLungo | testolungo}}</p>
	<p><strong>titolo puntato:</strong> {{title | testolungo : title.length-2 : 1}}</p>

	<hr>
	<hr>

	<button (click)="addValue()">
		add value
	</button>
	<br>
	<br>
	<label for="search">SEARCH</label>
	<input type="text" id="search" [(ngModel)]="filtro"> 
	<br>
	<br>
	
	<div>
		<p *ngFor="let i of values | filtra:filtro"> 
			{{i}}
		</p>
	</div>
	<br>
	<br>

	<div>
		<h1>Test asincrono</h1>
		
		<p>{{promise|async}}</p>

	</div>

</div>